body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Top Section / Header */
.top {
    background-color: #1f2937;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: baseline;
    gap: 330px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    font-size: 16px;

    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    padding: 100px;
    display: flex;
}

.hero h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text-left {
    width: 400px;
}

.image {
    background-color: #65676c;
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text,
.image {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: #e5e7eb;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;  /* Creates rounded corners for button */
}

.sign-up {
    margin-top: 10px;
    border: #3882f6;
}

button,
.action {
    background-color: #3882f6;
}

/* Information Section */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.items {
    display: flex;
    gap: 40px;
    padding-bottom: 150px;
}

.item {
    color: #65676c;
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.box {
    border: 5px solid #3882f6;  /* Line Width, Style, Color */
    border-radius: 12px;
    width: 200px;
    height: 200px;
}

/* Quote Section */
.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding: 100px;
    padding-left: 350px;
    padding-right: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signature {
    font-size: 25px;
    font-style: normal;
    color: black;
    font-weight: bold;
    margin-left: auto;
}

/* Call to Action */
.action {
    margin: 100px;
    padding: 20px;
    color: #f9faf8;
}

/* Footer */
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}