body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    gap: 330px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    font-size: 16px;

    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
}

.hero h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text-left {
    width: 400px;
}

.image {
    background-color: #65676c;
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text,
.image {
    font-size: 18px;
    color: #e5e7eb;
}

button,
.action {
    background-color: #3882f6;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
}